

<div class="card-stats">
<div class="row mt-1">
    <% for user in @users %>
    <% if (Friendship.where(user_id: current_user.id, friend_id: user.id).count==0)&& (user.id!=current_user.id) %>

    <div class="col s12 m6 l3">
        <div class="card small gradient-45deg-light-blue-cyan gradient-shadow white-text">
          <div class="card-content">
            <p class=""> <%= user.name  %> <%= user.last_name %>
              <br><%= user.email %>
              <span class="divider"></span>
               Registrado: <%= user.created_at.strftime("%d/%m/%Y") %>
              <hr>
               Ultima vez: <%= user.last_sign_in_at.strftime("%d/%m/%Y a las %I:%M%p" )%>
            </p>
          </div>
            <div class="card-action">
              <%= link_to "Agregar", friendships_path(:friend_id => user), :method => :post , class: "waves-effects waves-light btn"%>
            </div>
        </div>
      </div>
      <%end %>

    <% end %>
</div>
</div>


    </div>
  </div>
