<div class="container">
    <div class="row  ">
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-content">
                <%= render "posts/form",  :post => @post %>
            </div>
          </div>
      </div>
      </div>
</div>

<div class="container">
    <% @diarios.each_with_index do |p,index| %>
      <% if !index.odd? %>
        <div class="row">
      <% end %>
      <div class="col s6 m6 l6">
          <div class="card large">
            <div class="card-image">
              <%= image_tag(p.attachment_url) if p.attachment? %>
              <%= p.attachment %>
              <span class="card-title"><%= p.user.email %> /
                <span class="blue-grey-text small"><%= p.created_at.strftime("%d/%m/%y  %I:%M %p")%>  .</span>

              </span>
            </div>

            <div class="card-content">
            <p class="flow-text"><%= p.content %> <div class="clear" ></div>
              </p>


            </div>
            <div class="card-action">
                <% if current_user.id== p.user.id %>
                <%= link_to 'Edit', edit_post_path(p) %>
                <%end %>

            </div>
          </div>
      </div>
        <% if index.odd? %>
          </div>
        <% end %>

    <% end %>

