
<div class="container">
    <% @posts.each_with_index do |p,index| %>
      <% if !index.odd? %>
        <div class="row">
      <% end %>
      <div class="col s6 m6 l6">
          <div class="card large">
            <div class="card-image">
              <%= image_tag(p.attachment_url) if p.attachment? %>
            </div>
            <div class="card-content">
            <p class="flow-text"><%= p.content %> </p>
              <div class="clear" ></div>
            <p class="small">
                <%= p.user.email %>
                (<%= p.created_at.strftime("%d/%m/%y")%>)
            </p>
            </div>
            <div class="card-action">
                <% if current_user.id==p.user.id %>
                  <%= link_to 'Editar', edit_post_path(p), class:"waves-effect waves-light btn" %>
                <%end %>
                <%= link_to  "ir al post", post_path(p), class:"waves-effect waves-light btn" %>
            </div>
          </div>
      </div>
        <% if index.odd? %>
          </div>
        <% end %>



    <% end %>

</div>





