<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <%= image_tag(@post.attachment_url(:normal)) if @post.attachment? %>
          <p class="flow-text">
            <%= @post.content %>
          </p>
          <p>
          <% if @post.public %>
            Post publico
          <% else %>
            Post privado
          <% end %>
        </p>
        </div>
      </div>

</div>
<% if current_user.id==@post.user.id %>
  <%= link_to 'Editar', edit_post_path(@post) %> |
<%end %>

<%= link_to 'Volver', home_index_path %>
