<!DOCTYPE html>
<html>
  <head>
    <title>Socialxapia</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= render "layouts/top"%>
    <div id="main">
        <div class="wrapper">
            <%= render "layouts/sidebar"%>
            <section id="content">
              <%= render "layouts/content"%>
            </section>
          <%= render "layouts/footer" %>

        </div>
      </div>

</body>
</html>
